[alias]
        tree = log --oneline --decorate --graph --branches --tags --remotes
        treep = log --oneline --graph --decorate --first-parent
        st = status
        co = checkout
        sw = switch
        swc = switch -c

[user]
        email = {{ .email }}
        name = {{ .name }}

