{
    "github.copilot.enable": {
        "*": true,
        "plaintext": false,
        "markdown": false,
        "scminput": false
    },
    "github.copilot.editor.enableAutoCompletions": true,
    // vim
    "vscode-neovim.useWSL": true,
    "vscode-neovim.neovimExecutablePaths.linux": "/snap/bin/nvim",
    "extensions.experimental.affinity": {
        "asvetliakov.vscode-neovim": 1
    },
    // editor
    "editor.fontFamily": "'Monaspace Neon Var', Consolas, 'Courier New', monospace",
    "editor.minimap.enabled": false,
    "editor.wordWrap": "on",
    "editor.inlayHints.enabled": "offUnlessPressed",
    "editor.mouseWheelZoom": true,
    "editor.stickyScroll.enabled": true,
    "workbench.colorCustomizations": {
        // アクティブなタブを見やすく
        "tab.activeBackground": "#2a2e3d",
        "tab.unfocusedActiveBackground": "#2a2e3d",
        // エディタの境界線を見やすく
        "editorGroup.border": "#1d4971",
        // StickyScrollの境界を見やすく
        "editorStickyScroll.background": "#22232c",
        "editorStickyScroll.border": "#1d4971",
        "sideBarStickyScroll.background": "#22232c",
        "sideBarStickyScroll.border": "#1d4971",
        "terminalStickyScroll.background": "#22232c",
        "terminalStickyScroll.border": "#1d4971",
    },

    "[rust]": {
        "editor.formatOnSave": false
    },
    "rust-analyzer.checkOnSave": true,
    "rust-analyzer.check.command": "clippy",
    "rust-analyzer.check.extraArgs": [
        "--",
        "-A",
        "clippy::needless_return"
    ],

    {{ if eq .chezmoi.os "windows" }}
    "terminal.integrated.defaultProfile.windows": "Windows PowerShell",
    "terminal.integrated.profiles.windows": {
         "PowerShell": {
            "path": [
                "${env:ProgramFiles}\\PowerShell\\7\\pwsh.exe"
            ],
            "source": "PowerShell",
            "icon": "terminal-powershell",
            "args": [
                "-NoLogo",
                "-ExecutionPolicy",
                "Bypass"
            ]
        },   
        "Command Prompt": {
            "path": [
                "${env:windir}\\Sysnative\\cmd.exe",
                "${env:windir}\\System32\\cmd.exe"
            ],
            "args": [],
            "icon": "terminal-cmd"
        },
        "Git Bash": {
            "source": "Git Bash"
        },
        "terminal.integrated.defaultProfile.windows": "PowerShell"
    },
    "terminal.integrated.enableMultiLinePasteWarning": false,
    "powershell.powerShellDefaultVersion": "PowerShell (x64)",
    {{ end }}

    "accessibility.signals.lineHasBreakpoint": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.chatEditModifiedFile": {
        "sound": "off"
    },
    "accessibility.signals.chatRequestSent": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.chatResponseReceived": {
        "sound": "off"
    },
    "accessibility.signals.chatUserActionRequired": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.clear": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.codeActionApplied": {
        "sound": "off"
    },
    "accessibility.signals.codeActionTriggered": {
        "sound": "off"
    },
    "accessibility.signals.onDebugBreak": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.diffLineDeleted": {
        "sound": "off"
    },
    "accessibility.signals.diffLineInserted": {
        "sound": "off"
    },
    "accessibility.signals.diffLineModified": {
        "sound": "off"
    },
    "accessibility.signals.editsKept": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.positionHasError": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.lineHasError": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.lineHasFoldedArea": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.lineHasInlineSuggestion": {
        "sound": "off"
    },
    "accessibility.signals.nextEditSuggestion": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.noInlayHints": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.notebookCellCompleted": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.notebookCellFailed": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.progress": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.taskCompleted": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.taskFailed": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.terminalBell": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.terminalCommandFailed": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.terminalCommandSucceeded": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.terminalQuickFix": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.editsUndone": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.voiceRecordingStarted": {
        "sound": "off"
    },
    "accessibility.signals.voiceRecordingStopped": {
        "sound": "off"
    },
    "accessibility.signals.positionHasWarning": {
        "sound": "off",
        "announcement": "auto"
    },
    "accessibility.signals.lineHasWarning": {
        "sound": "off",
        "announcement": "auto"
    },
}

